@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-container {
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }

    #experience, .experience-details-container {
        margin-top: 2rem;
    }

    #profile, .section-container {
        display: block;
    } 

    .arrow {
        display: none;
    }

    section, .section-container {
        height: fit-content;
    }

    section {
        margin: 0.5%;
    }

    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-container {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    #contact, footer {
        height: 40vh;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }

    article {
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-container, .contact-info-upper-container, .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title {
        font-size:  1.25rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section__text__p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;
    }
}

@media screen and (min-width: 768px) {
    .article-container-j {
        justify-content: space-between; /* Distribute articles evenly */
    }
}

@media screen and (min-width: 992px) {
    .article-container-service {
        width: calc(33.33% - 20px); /* Adjust width to fit three columns */
    }
}

@media screen and (max-width: 768px) {
    .modal-content {
        width: 80%; /* Baguhin ang laki ng modal sa mga mas maliit na viewport */
        padding: 10px;
    }
}

@media screen and (max-width: 576px) {
    .modal-content {
        width: 90%; /* Baguhin ang laki ng modal sa mga mas maliit na viewport */
    }
}

@media (max-width: 768px) {
    .modal-content {
        width: 70%;
        padding-left: 50px;
        padding-right: 20px;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
}

/* Project Images in Modal */
.project-images {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Adjust gap as needed */
}

.project-images img {
    width: calc(33.33% - 0.67rem); /* Calculate width to fit three images in a row with gap */
    height: auto; /* Maintain aspect ratio */
    border-radius: 2rem; /* Add border radius if needed */
    box-sizing: border-box; /* Include padding and border in width calculation */
}
